.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: royalblue;
  color: white;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  transition: all 0.3s;
  position: relative;
  box-shadow: 0 5px 0.5rem black;

  &:hover {
    transform: translateY(5px);
  }

  &: active;
}
