.iphone {
  height: 80vh;
  z-index: -20;
  position: relative;
  background-image: url(./media/iphone.jpg);
  background-color: blueviolet;
}

.iphone-text {
  background-color: blue;
  z-index: 10;
  position: absolute;
  padding: 10rem 4rem;
  top: 100%;
}
