.tennis-ball {
  height: 25rem;
  position: relative;
  clip-path: circle();
  overflow: hidden;
}

.ball-img {
  height: 26rem;

  transition: all 1.3s ease-in;

  &:hover {
    transform: rotate(180deg) scale(1.4);
  }
}
