.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: royalblue;
  color: white;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  -webkit-box-shadow: 0 5px 0.5rem black;
          box-shadow: 0 5px 0.5rem black;
}

.btn:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.hover-text {
  font-size: 7rem;
  font-style: italic;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url(./media/lava.webp);
  -webkit-background-clip: text;
  background-position: center;
  color: transparent;
  margin: 0;
  padding: 0;
  position: relative;
}

.hover-text:hover {
  letter-spacing: 1.5rem;
}

.hover-text::before {
  content: "";
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

.hover-text:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.rotate {
  height: 24rem;
  position: relative;
}

.rotate-watch {
  height: 20rem;
  -webkit-clip-path: circle();
          clip-path: circle();
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: -1;
  right: 10%;
}

.rotate-watch:hover {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: translateX(13rem) rotate(180deg);
          transform: translateX(13rem) rotate(180deg);
}

.rotate-header {
  font-size: 6rem;
  letter-spacing: 0.4rem;
  position: absolute;
  top: 10%;
  left: 70%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 1;
  z-index: 1;
  color: white;
}

.iphone {
  height: 20rem;
  position: relative;
}

.iphone-image {
  height: 20rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: -1;
}

.iphone-text {
  position: absolute;
  z-index: 1;
  background-color: white;
  opacity: 0;
  padding: 103.9px 32px;
  right: 6.3%;
  top: 4.9%;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: thin;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.iphone-text:hover {
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-box-shadow: 0px 0px 10px 5px white;
          box-shadow: 0px 0px 10px 5px white;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */